@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-lg-12">
        <h2>Application de test pour Vente Privée</h2>
        <ul>

            <li>Cliquer sur ce <a asp-action="WebAPIAuthenticate">
    lien
</a> pour tester la web API "api/authenticate"</li>
            <li>
                Cliquer sur ce <a asp-action="WebAPIConfidentials">
                    lien
                </a> pour tester la web API "api/confidentials"
            </li>
        </ul>
    </div>
    
</div>
